<link href="/components/header/header.css" rel="stylesheet" type="text/css" />

<header class="header">
  <div class="header_container">
    <div class="logo_desktop">
      <img src="./images/logos/logo-h-w.png" alt="logo-h-w.png" />
    </div>
    <div class="logo_mobile">
      <img src="./images/logos/logo_g.png" alt="logo-h-w.png" />
    </div>
    <div class="header_middle">
      <div class="pages">
        <div class="page" id="home_nav_button">Inicio</div>
        <div class="page multiple">
          <div class="multiple_title">Vehículos</div>
          <div class="multiple_title_chevron">
            <img src="/images/icons/chevron-down-svgrepo-com.svg" alt="chevron"/>
          </div>
          <div class="multiple_content">
            <div class="item_container">
              <div class="item">Vehículos de carga</div>
              <div class="item">Transporte de pasajeros</div>
              <div class="item">Flotas y uso personal</div>
            </div>
          </div>
        </div>
        <div class="page multiple">
          <div class="multiple_title">Servicios</div>
          <div class="multiple_title_chevron">
            <img src="/images/icons/chevron-down-svgrepo-com.svg" alt="chevron"/>
          </div>
          <div class="multiple_content">
            <div class="item_container">
              <div class="item">Servicios post-venta</div>
              <div class="item">Taller</div>
            </div>
          </div>
        </div>
        <div class="page multiple">
          <div class="multiple_title">Nosotros</div>
          <div class="multiple_title_chevron">
            <img src="/images/icons/chevron-down-svgrepo-com.svg" alt="chevron"/>
          </div>
          <div class="multiple_content">
            <div class="item_container">
              <div class="item">Nuestra historia</div>
              <div class="item">Filosofía institucional</div>
              <div class="item">Distribuidores</div>
              <div class="item">Nuestro equipo</div>
              <div class="item">Nuestros clientes</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header_right">
      <div class="item_container">
        <div class="icon">
          <img src="./images/icons/location-svgrepo-com.svg" alt="location" />
        </div>
        <div class="item_text">Location label</div>
      </div>
      <div class="item_container">
        <div class="icon">
          <img src="./images/icons/whatsapp-svgrepo-com.svg" alt="whatsapp" />
        </div>
        <div class="item_text">Contact label</div>
      </div>
    </div>
  </div>
  <div class="header_mobile">
    <div class="mobile_icons_container">
      <div class="icon">
        <img src="/images/icons/phone-svgrepo-com.svg" alt="phone" />
      </div>
      <div class="icon">
        <img src="/images/icons/whatsapp-svgrepo-com.svg" alt="whatsapp" />
      </div>
      <div class="icon">
        <img src="/images/icons/location-svgrepo-com.svg" alt="location" />
      </div>
      <div class="icon">
        <img src="/images/icons/hamburger-menu-svgrepo-com.svg" alt="hamburger" />
      </div>
    </div>
  </div>
</header>

<script src="/components/header/header.js" type="text/javascript"></script>
