:root {
  --background-blue: #0081ab;
  --background-blue-60: #02befd9c;
  --background-blue-10: #0082ad1a;
  --background-lightblue: #05befc;
  --background-lightblue-40: #05befc66;
  --background-lightblue-60: #05befc99;
  --border-radius: 32px;
}