<link
  href="/views/home/home.css"
  rel="stylesheet"
  type="text/css"
/>

<div class="home_container">
    <div class="main_image">
        <div class="image_container">
            <img src="/images/cars/GO_03/GO-03EX-P7.jpg" alt="GO-03EX-P6.jpg" />
            <div class="image_backdrop"></div>
            <div class="text">
                <span class="title">Carga tus sueños</span>
                <span class="description">Go Electric GO-03 EX.</span>
                <div class="buttons">
                    <button class="btn btn-primary">Ver más</button>
                    <button class="btn btn-secondary">Ver otros modelos</button>
                </div>
            </div>
        </div>
        <div class="image_container_mobile">
            <img src="/images/custom_images/home/go03_home_mobile.jpg" alt="GO01-P2.jpg" />
        </div>
    </div>
    <div class="benefits">
        <div class="benefits_container">
            <img src="/images/cars/GO_LEV/Go-LEV-p7.jpg" alt="GO01-P2.jpg" />
            <div class="image_backdrop"></div>
        </div>
    </div>
    <div class="cards_container">
        <div class="cars_display">
            <div class="car_card">
                <img src="/images/cars/GO_01/GO01-P2.jpg" alt="GO01-P2.jpg" />
            </div>
            <div class="car_card">
                <img src="/images/cars/GO_01/GO01-P7.jpg" alt="GO01-P2.jpg" />
            </div>
        </div>
        <div class="cars_display second">
            <div class="car_card">
                <img src="/images/cars/GO_03/GO-03EX-P10.jpg" alt="GO01-P2.jpg" />
            </div>
            <div class="car_card">
                <img src="/images/cars/GO_VAN_XL/GO-VAN-XL-P1-u.jpg" alt="GO01-P2.jpg" />
            </div>
        </div>
    </div>
    <div class="cars_list">
        <div class="cars_list_title">Lorem ipsum</div>
    </div>
</div>

<script
    href="/views/home/home.js"
    type="text/javascript"
></script>