<link
  href="./components/footer/footer.css"
  rel="newest stylesheet"
  type="text/css"
/>

<footer class="footer">
  <div class="columns_container">
    <div class="column logo">
      <img src="/images/logos/logo_g.png" alt="logo" />
    </div>
    <div class="column">
      <div class="column_title">Nosotros</div>
      <div class="column_item">Nuestra historia</div>
      <div class="column_item">Filosofía institucional</div>
      <div class="column_item">Distribuidores</div>
      <div class="column_item">Nuestro equipo</div>
    </div>
    <div class="column">
      <div class="column_title">Servicios</div>
      <div class="column_item">Servicios post-venta</div>
      <div class="column_item">Taller</div>
    </div>
    <div class="column">
      <div class="column_title">Vehículos eléctricos</div>
      <div class="column_item">Vehículos de carga</div>
      <div class="column_item">Transporte de pasajeros</div>
      <div class="column_item">Flotas y uso personal</div>
    </div>
    <div class="column">
      <div class="column_title">Nuestros clientes</div>
    </div>
    <div class="column">
      <div class="column_title">Contacto</div>
    </div>
  </div>
  <div class="copyright_container">
    <div class="copyright">&copy; <span id="year"></span> Go Electric S.R.L - Todos los derechos reservados</div>
  </div>
</footer>

<script src="/components/footer/footer.js" type="text/javascript"></script>